h4 {
    margin:0px 10px 0px 0px;
    width:80;
    float:left;
}

h2 {
    position:relative;
    top:-50px;
    text-align:center;
}

.login_element{
    margin:30px;
}

#login_box{
    top:200;
    width:333px;
    border-style:groove;
}

#title{
    top:100px;
    width:50x;
}

.centered_items, #logo{
    width 200px;
    left:50%;
    -webkit-transform: translate(-50%,0);
    position:absolute;
}

#outer_group{
    position:relative;
    top:14%;
}

#submit_button{
    background-color: #3078a8; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    top:180px;
}